<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <title>采购信息显示</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>采购信息ID</th>
        <th>产品名称</th>
        <th>规格</th>
        <th>数量</th>
        <th>单位</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="informationForDisplays:${informationForDisplays}">
        <td th:text="${informationForDisplays.id}"></td>
        <td th:text="${informationForDisplays.name}"></td>
        <td th:text="${informationForDisplays.specification}"></td>
        <td th:text="${informationForDisplays.amount}"></td>
        <td th:text="${informationForDisplays.unit}"></td>
        <td th:text="${informationForDisplays.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>